#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  background-color: var(--yellow);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
}

#no-mobile span {
  margin-right: 15px;
}

@keyframes iconMove {
  from {
    transform: rotatez(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

#no-mobile i {
  font-size: 50px;
  animation: iconMove 1s linear infinite;
}

@media screen and (max-width: 590px) {
  #no-mobile {
    display: none;
  }
}
